<template>
  <div class="container">
    <div class="card mt-5">
      <div class="card-header">
        <h4>
          <router-link to="users/create" class="btn btn-primary float-end">
            Add User
          </router-link>
        </h4>
      </div>
      <div class="card-body">
        <template v-if="loading">
          <div style="text-align: center; margin-top: 20px;">Loading...</div>
        </template>
        <template v-else>
          <table class="table table-bordered" v-if="users.length > 0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user, index) in users" :key="user.id">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <router-link :to="'/users/' + user.id + '/edit'" class="btn btn-success">Edit</router-link>
                  <button type="button" @click="deleteUser(user.id)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div v-else style="text-align: center;">No data found</div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "user",
  data() {
    return {
      users: [],
      loading: true,
    };
  },
  mounted() {
    this.getUsers();
  },
  methods: {
    getUsers() {
      axios.get("http://localhost:8000/api/users").then((res) => {
        this.users = res.data;
        this.loading = false;
      }).catch(() => {
        this.loading = false;
      });
    },
    deleteUser(id) {
      if (confirm("Are you sure you want to delete this user?")) {
        axios.delete(`http://localhost:8000/api/users/${id}`).then(() => {
          this.users = this.users.filter(user => user.id !== id);
        });
      }
    },
  },
};
</script>
